/*HEAD*/

.head {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;
}

.my-playlist-btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    gap: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.login {
    background-color: #7F00FF;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.profile-icon {
    padding: 12px 14px;
    border-radius: 50px;
    border: none;
    background-color: #7F00FF;
    color: #fff;
    cursor: pointer;
}